@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ArenaRoster.Models.User

<div class="navbar-fixed">
    <nav class="green darken-2">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down"></ul>
            <a href="/" class="brand-logo center hide-on-med-and-down">ArenaRoster</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Users/Create">Add New User</a></li>
                <li><a href="/Teams/Create">Add New Team</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1>Add a user to the database:</h1>
    <form method="post" asp-action="Create" asp-controller="Users" enctype="multipart/form-data">
        <label for="name">User Name</label>
        <input class="validate" type="text" id="name" name="name" required/>
        <br />
        <label for="email">Email</label>
        <input class="validate" type="text" id="email" name="email" required/>
        <br />
        <label for="phone">Phone (optional)</label>
        <input class="validate" type="text" id="phone" name="phone"/>
        <br />
        <label for="picture">User Picture (optional)</label>
        <input type="file" id="picture" name="picture" />
        <br />
        <input class="btn green waves-effect center" type="submit" value="Add User" />
    </form>
</div>