@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ArenaRoster.Models.User>

<h1>List of Users</h1>
<hr />
@foreach (ArenaRoster.Models.User user in Model)
{
    <a href="/Users/Details/@user.UserId">
        <div class="card">
            <div class="card-content">
                @if (user.Picture != null)
                {
                    <div class="card-image">
                        @*Display player image*@
                    </div>
                }
                <h4>
                    @user.Name
                </h4>
            </div>
        </div>
    </a>
}