@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        console.log("                     ___\n o__        o__     |   |\\ \n/|          /\\      |   |X\\ \n/ > o        <\\     |   |XX\\\n")
        //Very Important ASCII Art!
    })
</script>

<h1>Rec Team</h1>
<hr />
<p>Track schedules and availabilities for your rec teams.</p>
@if (!User.Identity.IsAuthenticated)
{
    <p>Create an account, create a team, input your schedule, and invite your teammates to join.</p>
}
else
{
    <p>Since you have an account, all you have to do is create a team, input your schedule, and invite your teammates to join.</p>
}
<p>Edit your availability and everyone else on the team will be able to see it, helping you plan for substitutes.</p>