@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-fixed">
    <nav class="green darken-2">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down"></ul>
            <a href="/" class="brand-logo center hide-on-med-and-down">ArenaRoster</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Users/Create">Add New User</a></li>
                <li><a href="/Teams/Create">Add New Team</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

</div>