@{
    ViewData["Title"] = $"Admin - {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RecTeam.Models
@model Team

<h1>@Model.Name</h1>
<hr />

<h4>Team Administration</h4>
<div class="row">
    <div class="col s12">
        @Html.ActionLink("Add Player", "AddPlayer", new { id = Model.Id }) |
        @Html.ActionLink("Add Game", "AddGame", new { id = Model.Id })
    </div>
</div>