@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ArenaRoster.Models.Team

<h1>Add a team to the database:</h1>
<hr />
<div class="input-field">
@using (Html.BeginForm())
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @id = "name", @required = "true" })
    </div>
    <input class="btn" type="submit" value="Add Team" />
}