@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ArenaRoster.Models.Team

<div class="navbar-fixed">
    <nav class="green darken-2">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down"></ul>
            <a href="/" class="brand-logo center hide-on-med-and-down">ArenaRoster</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Users/Create">Add New User</a></li>
                <li class="active"><a href="/Teams/Create">Add New Team</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Account">@User.Identity.Name's Account</a></li>
                }
                else
                {
                    <li><a href="/Account">Login</a></li>
                }
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1>Add a team to the database:</h1>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        <br />
        <input class="btn" type="submit" value="Add Team" />
    }
</div>