@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RecTeam.Models
@model List<Team>

<h1>List of Teams</h1>
<hr />
@foreach(Team team in Model)
{
    <div class="card">
        <div class="card-content">
            <h4><a href="/Teams/Details/@team.Id">@team.Name</a></h4>
        </div>
    </div>
}