@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RecTeam.ViewModels

@model ChangePasswordViewModel

<h1>Change your password</h1>
<hr />
<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="input-field">
        <label asp-for="CurrentPassword">Current Password</label>
        <input asp-for="CurrentPassword" id="CurrentPassword" class="validated" />
    </div>
    <div class="input-field">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" id="NewPassword" class="validated" />
    </div>
    <div class="input-field">
        <label for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="validated" />
    </div>
    <input class="btn blue lighten-2" type="submit" value="Change Password" />
</form>