@{
    ViewData["Title"] = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RecTeam.Models

@model ApplicationUser

<h1>Change your user settings</h1>

<hr />
<form asp-controller="Account" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" value="@Model.Id"/>
    <div class="input-field">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" id="Name" value="@Model.Name" class="validated" />
    </div>
    <div class="input-field">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="Email" value="@Model.Email" class="validated" />
    </div>
    <div class="input-field">
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input asp-for="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber" class="validated" />
    </div>
    <div class="file-field input-field">
        <div class="btn">
            <span>Player Image</span>
            <input name="Image" type="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <input class="btn green" type="submit" value="Save Changes" />
</form>