@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RecTeam.ViewModels

@model LoginViewModel

<h1>Log in with your account</h1>
<hr />

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="input-field">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="Email" class="validated" />
    </div>
    <div class="input-field">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" id="Password" type="password" class="validated" />
    </div>
    <input type="submit" value="Log in" class="btn blue lighten-2" />
</form>