@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RecTeam.ViewModels

@model RegisterViewModel

<h1>Register a new user</h1>
<hr />
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="input-field">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" id="Name" class="validated" />
    </div>
    <div class="input-field">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="Email" class="validated" />
    </div>
    <div class="input-field">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" id="Password" type="password" class="validated" />
    </div>
    <div class="input-field">
        <label for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" id="ConfirmPassword" type="password" name="ConfirmPassword" class="validated" />
    </div>
    <input class="btn green" type="submit" value="Register" />
</form>