@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $('.parallax').parallax();
        console.log("                     ___\n o__        o__     |   |\\ \n/|          /\\      |   |X\\ \n/ > o        <\\     |   |XX\\\n")
        //Very Important ASCII Art!
    })
</script>

<div class="parallax-container">
    <div class="parallax"><img src="~/img/banner.jpg"></div>
</div>

<h1>RecTeam.net</h1>
<h4 class="center">Manage Your Rec Teams</h4>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name is signed in.</p>
    <div class="row">
        <div class="col s12 m6">
            <a asp-controller="Teams" asp-action="Create">
                <div class="card hoverable">
                    <div class="card-content">
                        <h3 class="center">Create a new Team</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m6">
            <a asp-controller="Account" asp-action="Index">
                <div class="card hoverable">
                    <div class="card-content">
                        <h3 class="center">View your account details and team list</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
}
else
{
    <h2>You aren't signed in.</h2>
    <div class="row">
        <div class="col s12 m6">
            <a asp-controller="Account" asp-action="Login">
                <div class="card hoverable">
                    <div class="card-content">
                        <h3>
                            Login
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m6">
            <a asp-controller="Account" asp-action="Register">
                <div class="card hoverable">
                    <div class="card-content">
                        <h3>
                            Register for a new account
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
}