@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RecTeam.ViewModels

@model RegisterViewModel

<h1>Register a new user</h1>
<hr />
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="input-field">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" id="Name" class="validated" required/>
    </div>
    <div class="input-field">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="Email" class="validated" required/>
    </div>
    <div class="input-field">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" id="Password" type="password" class="validated" required/>
    </div>
    <div class="input-field">
        <label for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" id="ConfirmPassword" type="password" name="ConfirmPassword" class="validated" required/>
    </div>
    <input class="btn blue lighten-2" type="submit" value="Register" />
</form>
@if (ViewBag.LoginError)
{
    <div class="error-message">
        <p>Invalid email and/or password</p>
    </div>
}

@if (ViewBag.EmailTaken)
{
    <div class="error-message">
        <p>There is already a user account associated with that email address.</p>
    </div>
}