@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ArenaRoster.Models.User

<h1>Add a user to the database:</h1>
<form method="post" asp-action="Create" asp-controller="Users" enctype="multipart/form-data">
    <label for="name">User Name</label>
    <input type="text" id="name" name="name" />
    <br />
    <label for="email">Email</label>
    <input type="text" id="email" name="email" />
    <br />
    <label for="phone">Phone (optional)</label>
    <input type="text" id="phone" name="phone"/>
    <br />
    <label for="picture">User Picture (optional)</label>
    <input type="file" id="picture" name="picture" />
    <br />
    <input class="btn" type="submit" value="Add User" />

</form>
}