body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 100%;
    color: #050;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;
    color: #050;
}

a {
    color: darkgreen;
}

a:hover {
    color: lightgreen;
}

.not-button {
    color: darkgreen;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

.not-button:hover {
    color: lightgreen;
}

#account-buttons {
    display: flex;
    justify-content: center;
}