body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 100%;
    color: #050;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;
    color: #050;
}

h3 {
    font-size: 2rem;
    line-height: 100%;
    color: #050;
}

a {
    color: darkgreen;
}

a:hover {
    color: lightgreen;
}

.not-button {
    color: darkgreen;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

.not-button:hover {
    color: lightgreen;
}

.game-row {
    margin: 0px;
    padding: 0px;
}

#account-buttons {
    display: flex;
    justify-content: center;
}

.player-image {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid darkgreen;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.player-image img {
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
    vertical-align: middle;
    object-fit: scale-down;
}

.name-image {
    display: flex;
    justify-content: flex-start;
}

.name-image .player-image {
    height: 70px;
    width: 70px;
    margin-left: 0px;
    margin-right: 20px;
}