body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 100%;
    color: #050;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;
    color: #050;
}

h3 {
    font-size: 2rem;
    line-height: 100%;
    color: #050;
}

a {
    color: darkgreen;
}

    a:hover {
        color: lightgreen;
    }

.not-button {
    color: darkgreen;
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

    .not-button:hover {
        color: lightgreen;
    }

.game-row {
    margin: 0px;
    padding: 0px;
}

#account-buttons {
    display: flex;
    justify-content: center;
}

.player-image {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid darkgreen;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

    .player-image img {
        margin: 0 auto;
        min-height: 100%;
        min-width: 100%;
        vertical-align: middle;
        object-fit: scale-down;
    }

.chat-image {
    height: 61px;
    width: 61px;
    margin: 0px;
    border-radius: 20px 20px 0px 20px;
    overflow: hidden;
    border: 1px solid darkgreen;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

    .chat-image img {
        margin: 0 auto;
        min-height: 100%;
        min-width: 100%;
        vertical-align: middle;
        object-fit: scale-down;
    }

.name-image {
    display: flex;
    justify-content: flex-start;
}

    .name-image .player-image {
        height: 70px;
        width: 70px;
        margin-left: 0px;
        margin-right: 20px;
    }

a {
    cursor: pointer;
}

#sidenav-overlay {
    z-index: 1;
}

.parallax-container {
    height: 300px;
}

.start-disabled {
    display: none;
}

#message-window {
    height: 400px;
    width: 100%;
    border: 1px solid darkgreen;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message {
    box-shadow: none;
    max-width: 80%;
    overflow-wrap: break-word;
    border-radius: 20px 20px 0px 20px;
    padding: 9px 20px !important;
    margin-bottom: 2px;
    display: inline;
}

    .chat-message p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

        .chat-message p:first-of-type {
            margin-bottom: 3px;
        }

    .chat-message.left {
        border-radius: 20px 20px 20px 0px;
        margin-right: 20%;
    }

    .chat-message.right {
        border-radius: 20px 20px 0px 20px;
        margin-left: 20%;
    }

.message {
    margin-bottom: 0px;
    margin-top: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .message.incoming-message {
    }

.incoming-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.outgoing-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

em {
    font-size: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 0px initial !important;
}

.message-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .message-form input {
        width: 80%;
    }

    .message-form button {
        width: 20%;
    }
